.form_container {
	width: 400px;
	margin: 0 auto;
}

.list-title {
    margin: 0 15px;
}

.new-job-list, .new-company-list {
    margin-top: 15px;
}

.list-more-btn {
    padding: 10px 138px;
	color: #5cb85c;
    background-color: #fff;
}

.job-box {
    padding: 13px;
    border: solid 1px #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
}

.nav-pagination {
    text-align: center;
    clear: both;
}

.list-more {
    text-align: center;
    margin-bottom: 50px;
}

.footer {
    text-align: center;
    clear: both;
    border-top: 1px solid #eee;
    padding: 16px 0 24px;
    margin-top: 15px;
    color: #999;
    font-size: 14px;
}

.timesince {
    font-size: 12px;
    color: #999;
}

.text_gray {
    color: gray;
}

a,
a:hover,
a:visited {
    text-decoration: none;
}

.job_name,
.com_name,
.com_loc {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.com_desc {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
    height:100px;
}
