{% extends "base.html" %}
{% from "macros.html" import render_job,render_pagination %}


{% block title %}Home{% endblock %}

{% block head %}
    <div class="jumbotron">
        <h1>Hello, Welcome to Jobplus!</h1>
        <p>领先的互联网求职平台</p>
{#        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>#}
    </div>
{% endblock %}

{% block body %}
<!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav nav-tabs list-title">
        <li role="presentation" class="active"><a href="#">最新职位</a></li>
      </ul>

    <div class="job-list">
        {% for job in pagination.items %}
            {{ render_job(job) }}
        {% endfor %}
    </div>

    <p class="list-more">
    <a href="/" class="btn btn-success btn-lg list-more-btn">查看更多</a>
    </p>

    <ul class="nav nav-tabs list-title">
        <li role="presentation" class="active"><a href="#">最新公司</a></li>
      </ul>
    <div class="new-company-list">
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
            <a href="#">
              <img src="#" width="100" height="100" alt="...">
              <h3>企业名称</h3>
              <p>企业简介</p>
            </a>
          <hr>
          <a href="#">
            <p>在招职位：0</p>
          </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
            <a href="#">
              <img src="#" width="100" height="100" alt="...">
              <h3>企业名称</h3>
              <p>企业简介</p>
            </a>
          <hr>
          <a href="#">
            <p>在招职位：0</p>
          </a>
          </div>
        </div>

    </div>
    <p class="list-more">
    <a href="/" class="btn btn-success btn-lg list-more-btn">查看更多</a>
    </p>

{% endblock %}