{% extends "base.html" %}
{% from "macros.html" import render_job,render_pagination %}


{% block title %}Home{% endblock %}

{% block head %}
    <div class="jumbotron">
        <div class="container">
            <h1>Hello, Welcome to Jobplus!</h1>
            <p>领先的互联网求职平台</p>
            {#        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>#}
        </div>
    </div>
{% endblock %}

{% block body %}
<!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav nav-tabs list-title">
        <li role="presentation" class="active"><a href="#">最新职位</a></li>
      </ul>

    <p></p>
    <div class="job-list">
        {% for job in pagination.items %}
            {{ render_job(job) }}
        {% endfor %}
    </div>

    <p class="list-more">
    <a href="{{ url_for('jobs.index') }}" class="btn btn-success btn-lg list-more-btn">查看更多</a>
    </p>

    <ul class="nav nav-tabs list-title">
        <li role="presentation" class="active"><a href="#">最新公司</a></li>
      </ul>
    <div class="row new-company-list">
        {% for cominfo in com_pagination.items %}
		<div class="col-sm-6 col-md-4 company">
			<div class="thumbnail">
                <a href="{{ url_for('company.index') }}{{ cominfo.com_id }}" target="-blank">
                    <div class="row">
                        <div class="col-md-6">
					    <img width=128 height=128 src="{{ cominfo.com_logo }}" alt="company photo">
                        </div>
                        <div class="col-md-6">
                            <h3 class="media-heading com_name">{{ cominfo.user.username }}</h3>
						    <h5 class="com_desc">{{ cominfo.com_desc_less }}</h5>
					    </div>
                    </div>
				</a>
			</div>
		</div>
		{% endfor %}

    </div>
    <p class="list-more">
    <a href="{{ url_for('company.index') }}" class="btn btn-success btn-lg list-more-btn">查看更多</a>
    </p>

{% endblock %}
