{% extends "company/details.html" %}
{% from "macros.html" import render_job %}

{% block active %}
    <li>
        <a href="{{ url_for('company.details',company_id=c_company.com_id) }}">企业主页</a>
    </li>
    <li class="active">
        <a href="{{ url_for('company.dt_jobs',company_id=c_company.com_id) }}">招聘职位</a>
    </li>
{% endblock %}

{% block info %}
    <ul>
        <div class="container-fluid">
            <div class="row">
            {% for i in c_company.job %}
            <div class="col-md-6">
            <li>
                <h4><a href="{{ url_for('jobs.job_details',job_id=i.job_id) }}">{{ i.title }}</a></h4>
                <p>地点：{{ i.work_place }}</p>
                <p>待遇：{{ i.low_salary}}-{{ i.high_salary }}</p>
            </li>
            </div>
            {% endfor %}
            </div>
        </div>
    </ul>
{% endblock %}
