{% extends "base.html" %}
{% from "macros.html" import render_pagination %}

{% block title %}
Company
{% endblock %}



{% block body %}
	<div class="jumbotron">
		<h1>公司列表</h1>
		<p>在这里，你是找不到工作的</p>
	</div>
	<div class="row">
		{% for cominfo in pagination.items %}
		<div class="col-sm-6 col-md-4 company">
			<div class="thumbnail">
                <a href="{{ cominfo.com_id }}" target="-blank">
					<img width=128 height=128 src="{{ cominfo.com_logo }}" alt="company photo" />
					<div class="caption">
						<h4>{{ cominfo.com_desc_less }}</h4>
					</div>
				</a>
			</div>
		</div>
		{% endfor %}
	</div>

{{ render_pagination(pagination, 'company.index') }}
{% endblock %}
